* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-body,
.right-body {
  display: flex;
  background-color: black;
  height: 1653px;
}

.left-body {
  width: 560px;
  float: left;
}

.right-body {
  width: 542px;
  float: right;
}

body,
html {
  min-width: 2543px;
  min-height: 1500px;
}

body {
  background-color: #2c2c2c;
  color: #ffffff;
  font-family: Arial, sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: absolute;
  left: 560px;
  width: 1441px;
  height: 50px;

  background: #3c3a3a;
}

.head a {
  color: white;
}

.timo {
  display: flex;
  align-items: center;
  margin-left: 64px;
  font-size: 28px;
}

.timo img {
  position: relative;
  top: 7px;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-left: 109px;
  width: 365px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.loginmenu {
  position: relative;
  top: 1px;
  left: 533px;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;

  width: 291px;
  height: 781px;

  position: absolute;
  left: 682px;
  top: 118px;
}

.side .side_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;

  width: 291px;
  height: 162px;

  background: #171717;
  border-radius: 15px;
}

.side .side_login button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;

  position: absolute;
  top: 80px;

  width: 241px;
  height: 44px;

  border: none;
  font-size: 16px;
  background-color: #46cfa7;
  color: white;
  border-radius: 10px;
}

.side .side_login p {
  width: 241px;
  height: 16px;
  position: absolute;
  left: 88px;
  top: 40px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #bcbcbc;
}

.side .side_bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 25px 0px;
  gap: 10px;

  background: #171717;
  border-radius: 15px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  width: 291px;
  height: 594px;
}

.side_bar input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  gap: 98px;

  width: 241px;
  height: 34px;

  background: #2c2c2c;
  border-radius: 10px;

  border: none;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.side_bar input::-webkit-input-placeholder {
  width: 126px;
  height: 17px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 17px;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.side_bar input:-ms-input-placeholder {
  width: 126px;
  height: 17px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 17px;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.side_bar ul {
  position: relative;
  list-style: none;
  top: 15px;
  color: white;
}

.side_bar li {
  margin-bottom: 15px;
  font-size: 13px;
}

.side_bar .first {
  width: 151px;
  height: 17px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  display: flex;
  align-items: center;
  margin: none;

  color: #ffffff;
}

.side_bar a {
  color: white;
}

.side_bar .angle {
  position: absolute;
  right: -87px;
}

/*위 공통 코드*/

.main {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 873px;
  height: 1390px;

  position: absolute;
  left: 1005px;
  top: 119px;
  background-color: #2c2c2c;
}

.post {
  background-color: #171717;
  width: 873px;
  height: 1102px;
  border-radius: 20px;
}

textarea {
  resize: none;
  width: 815px;
  height: 820px;
  margin-top: 40px;
  margin-left: 29px;
  margin-bottom: 20px;
  color: white;
  background-color: #171717;
  border: none;
  outline: none;
}

.post_head {
  margin-top: 21px;
  margin-left: 24px;
  margin-bottom: 20px;
}

.post_head p {
  margin-bottom: 3px;
  font-size: 14px;
}

.post_head b {
  color: #46cfa7;
}

.post_head h3 {
  font-size: 24px;
}

.post_head img {
  margin-top: 10px;
}

.post_head a {
  position: relative;
  top: -18px;
  font-size: 13px;
}

hr {
  height: 1px;
  border: 0;
  background-color: rgb(110, 110, 110);
}

.post_foot {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.post_foot button {
  height: 35px;
  width: 77px;
  margin-top: 20px;
  border: solid 1px;
  border-radius: 10px;
  border-color: white;
  background-color: #171717;
  color: white;
}
